<a href="https://colab.research.google.com/github/Vishnum369/python-case-study/blob/main/casestudynppd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1)

In [ ]:
import pandas as pd
import numpy as np

2)

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/laxmimerit/All-CSV-ML-Data-Files-Download/master/IMDB-Movie-Data.csv")

3)

In [ ]:
print(df.shape)

(1000, 12)

In [ ]:
print(df.head())

   Rank                    Title                     Genre  \
0     1  Guardians of the Galaxy   Action,Adventure,Sci-Fi
1     2               Prometheus  Adventure,Mystery,Sci-Fi
2     3                    Split           Horror,Thriller
3     4                     Sing   Animation,Comedy,Family
4     5            Suicide Squad  Action,Adventure,Fantasy

                                         Description              Director  \
0  A group of intergalactic criminals are forced ...            James Gunn
1  Following clues to the origin of mankind, a te...          Ridley Scott
2  Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
3  In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
4  A secret government agency recruits some of th...            David Ayer

                                              Actors  Year  Runtime (Minutes)  \
0  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014                121
1  Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012                124
2  James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016                117
3  Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016                108
4  Will Smith, Jared Leto, Margot Robbie, Viola D...  2016                123

   Rating   Votes  Revenue (Millions)  Metascore
0     8.1  757074              333.13       76.0
1     7.0  485820              126.46       65.0
2     7.3  157606              138.12       62.0
3     7.2   60545              270.32       59.0
4     6.2  393727              325.02       40.0

In [ ]:
print(df.columns)
print(df.dtypes)
print(df.isnull().sum())

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')
Rank                    int64
Title                  object
Genre                  object
Description            object
Director               object
Actors                 object
Year                    int64
Runtime (Minutes)       int64
Rating                float64
Votes                   int64
Revenue (Millions)    float64
Metascore             float64
dtype: object
Rank                    0
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

4)

In [ ]:
df =df.drop_duplicates()

5)Rename columns ("Title" > "Movie_Title")

In [ ]:
 da = df.rename(columns={"Title":"Movie_Title"})
print(da)

     Rank              Movie_Title                     Genre  \
0       1  Guardians of the Galaxy   Action,Adventure,Sci-Fi
1       2               Prometheus  Adventure,Mystery,Sci-Fi
2       3                    Split           Horror,Thriller
3       4                     Sing   Animation,Comedy,Family
4       5            Suicide Squad  Action,Adventure,Fantasy
..    ...                      ...                       ...
995   996     Secret in Their Eyes       Crime,Drama,Mystery
996   997          Hostel: Part II                    Horror
997   998   Step Up 2: The Streets       Drama,Music,Romance
998   999             Search Party          Adventure,Comedy
999  1000               Nine Lives     Comedy,Family,Fantasy

                                           Description              Director  \
0    A group of intergalactic criminals are forced ...            James Gunn
1    Following clues to the origin of mankind, a te...          Ridley Scott
2    Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
3    In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
4    A secret government agency recruits some of th...            David Ayer
..                                                 ...                   ...
995  A tight-knit team of rising investigators, alo...             Billy Ray
996  Three American college students studying abroa...              Eli Roth
997  Romantic sparks occur between two dance studen...            Jon M. Chu
998  A pair of friends embark on a mission to reuni...        Scot Armstrong
999  A stuffy businessman finds himself trapped ins...      Barry Sonnenfeld

                                                Actors  Year  \
0    Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014
1    Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012
2    James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016
3    Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016
4    Will Smith, Jared Leto, Margot Robbie, Viola D...  2016
..                                                 ...   ...
995  Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...  2015
996  Lauren German, Heather Matarazzo, Bijou Philli...  2007
997  Robert Hoffman, Briana Evigan, Cassie Ventura,...  2008
998  Adam Pally, T.J. Miller, Thomas Middleditch,Sh...  2014
999  Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...  2016

     Runtime (Minutes)  Rating   Votes  Revenue (Millions)  Metascore  \
0                  121     8.1  757074          333.130000       76.0
1                  124     7.0  485820          126.460000       65.0
2                  117     7.3  157606          138.120000       62.0
3                  108     7.2   60545          270.320000       59.0
4                  123     6.2  393727          325.020000       40.0
..                 ...     ...     ...                 ...        ...
995                111     6.2   27585           82.956376       45.0
996                 94     5.5   73152           17.540000       46.0
997                 98     6.2   70699           58.010000       50.0
998                 93     5.6    4881           82.956376       22.0
999                 87     5.3   12435           19.640000       11.0

     Num_Genres
0             3
1             3
2             2
3             3
4             3
..          ...
995           3
996           1
997           3
998           2
999           3

[1000 rows x 13 columns]

6) Get unique genres

In [ ]:
unique_genres=df['Genre'].unique()
print(unique_genres)

['Action,Adventure,Sci-Fi' 'Adventure,Mystery,Sci-Fi' 'Horror,Thriller'
 'Animation,Comedy,Family' 'Action,Adventure,Fantasy' 'Comedy,Drama,Music'
 'Comedy' 'Action,Adventure,Biography' 'Adventure,Drama,Romance'
 'Adventure,Family,Fantasy' 'Biography,Drama,History'
 'Animation,Adventure,Comedy' 'Action,Comedy,Drama' 'Action,Thriller'
 'Biography,Drama' 'Drama,Mystery,Sci-Fi' 'Adventure,Drama,Thriller'
 'Drama' 'Crime,Drama,Horror' 'Action,Adventure,Drama' 'Drama,Thriller'
 'Action,Adventure,Comedy' 'Action,Horror,Sci-Fi' 'Adventure,Drama,Sci-Fi'
 'Action,Adventure,Western' 'Comedy,Drama' 'Horror'
 'Adventure,Drama,Fantasy' 'Action,Crime,Thriller' 'Action,Crime,Drama'
 'Adventure,Drama,History' 'Crime,Horror,Thriller' 'Drama,Romance'
 'Comedy,Drama,Romance' 'Horror,Mystery,Thriller' 'Crime,Drama,Mystery'
 'Drama,Romance,Thriller' 'Drama,History,Thriller' 'Action,Drama,Thriller'
 'Drama,History' 'Action,Drama,Romance' 'Drama,Fantasy' 'Action,Sci-Fi'
 'Adventure,Drama,War' 'Action,Comedy,Fantasy' 'Biography,Comedy,Crime'
 'Crime,Drama' 'Comedy,Crime,Drama' 'Action,Comedy,Crime'
 'Animation,Drama,Fantasy' 'Horror,Mystery,Sci-Fi'
 'Drama,Mystery,Thriller' 'Crime,Drama,Thriller' 'Biography,Crime,Drama'
 'Crime,Mystery,Thriller' 'Action,Horror,Thriller' 'Romance,Sci-Fi'
 'Action,Fantasy,War' 'Action,Biography,Drama' 'Drama,Horror,Mystery'
 'Adventure,Drama,Family' 'Adventure,Comedy,Romance' 'Action'
 'Adventure,Crime,Mystery' 'Comedy,Family,Musical'
 'Adventure,Comedy,Drama' 'Drama,Horror,Thriller' 'Drama,Music'
 'Mystery,Thriller' 'Mystery,Thriller,Western' 'Comedy,Family'
 'Biography,Comedy,Drama' 'Drama,Western' 'Drama,Mystery,Romance'
 'Action,Drama,Mystery' 'Action,Adventure,Crime'
 'Adventure,Sci-Fi,Thriller' 'Action,Comedy,Mystery' 'Thriller,War'
 'Action,Adventure,Thriller' 'Drama,Fantasy,Romance'
 'Action,Drama,History' 'Animation,Adventure,Family' 'Adventure,Horror'
 'Drama,Romance,Sci-Fi' 'Action,Adventure,Family' 'Action,Comedy'
 'Comedy,Romance' 'Horror,Mystery' 'Drama,Family,Fantasy' 'Sci-Fi'
 'Drama,War' 'Drama,Fantasy,Horror' 'Crime,Drama,History'
 'Horror,Sci-Fi,Thriller' 'Action,Drama,Sport' 'Adventure,Biography,Drama'
 'Biography,Drama,Thriller' 'Action,Adventure,Mystery' 'Drama,Horror'
 'Comedy,Crime' 'Drama,Fantasy,War' 'Action,Adventure,Romance'
 'Action,Drama,War' 'Drama,Musical,Romance' 'Drama,Sci-Fi,Thriller'
 'Action,Drama,Sci-Fi' 'Drama,Sci-Fi' 'Adventure,Fantasy' 'Thriller'
 'Biography,Drama,Romance' 'Action,Adventure' 'Action,Fantasy'
 'Action,Drama,Horror' 'Comedy,Music,Romance' 'Biography,Drama,Sport'
 'Action,Horror' 'Comedy,Horror,Thriller' 'Crime,Drama,Music'
 'Action,Sci-Fi,Thriller' 'Drama,Horror,Sci-Fi' 'Drama,Sport'
 'Comedy,Horror' 'Comedy,Fantasy,Romance' 'Comedy,Fantasy'
 'Comedy,Drama,Fantasy' 'Adventure,Comedy,Horror' 'Comedy,Mystery'
 'Action,Mystery,Sci-Fi' 'Action,Crime,Fantasy' 'Comedy,Fantasy,Horror'
 'Animation,Action,Adventure' 'Action,Comedy,Family' 'Comedy,Sci-Fi'
 'Action,Biography,Crime' 'Adventure,Comedy' 'Comedy,Music'
 'Comedy,Drama,Horror' 'Action,Horror,Romance' 'Action,Drama,Fantasy'
 'Action,Mystery,Thriller' 'Action,Adventure,Horror'
 'Animation,Family,Fantasy' 'Adventure,Horror,Mystery'
 'Action,Horror,Mystery' 'Adventure,Comedy,Family' 'Action,Crime,Mystery'
 'Comedy,Drama,Family' 'Action,Crime,Sport' 'Mystery,Sci-Fi,Thriller'
 'Sci-Fi,Thriller' 'Adventure,Drama,Horror' 'Biography,History,Thriller'
 'Adventure,Comedy,Sci-Fi' 'Fantasy,Horror' 'Action,Fantasy,Thriller'
 'Comedy,Romance,Sport' 'Animation,Action,Comedy' 'Drama,Fantasy,Thriller'
 'Action,Comedy,Romance' 'Action,Fantasy,Horror' 'Mystery,Romance,Sci-Fi'
 'Comedy,Drama,Thriller' 'Comedy,Western' 'Drama,History,War'
 'Fantasy,Horror,Thriller' 'Drama,Horror,Musical' 'Drama,Family'
 'Romance,Sci-Fi,Thriller' 'Animation,Fantasy' 'Drama,Mystery,War'
 'Action,Drama,Family' 'Adventure,Drama,Western' 'Drama,Music,Romance'
 'Comedy,Romance,Western' 'Adventure,Drama' 'Drama,Thriller,War'
 'Drama,Fantasy,Mystery' 'Comedy,Crime,Thriller' 'Animation,Comedy,Drama'
 'Action,Comedy,Sci-Fi' 'Drama,Romance,War' 'Adventure,Fantasy,Mystery'
 'Mystery,Romance,Thriller' 'Biography,Drama,Mystery'
 'Animation,Drama,Romance' 'Comedy,Horror,Romance' 'Action,Thriller,War'
 'Action,Comedy,Horror' 'Action,Crime,Sci-Fi' 'Crime,Thriller'
 'Comedy,Horror,Sci-Fi' 'Crime,Drama,Fantasy' 'Drama,Fantasy,Music'
 'Action,Comedy,Sport' 'Fantasy,Mystery,Thriller' 'Adventure'
 'Adventure,Biography' 'Adventure,Biography,Crime' 'Comedy,Drama,Musical'
 'Comedy,Family,Romance' 'Biography,Drama,Family' 'Drama,Fantasy,Musical'
 'Adventure,Family' 'Adventure,Comedy,Fantasy' 'Drama,Family,Music'
 'Comedy,Family,Fantasy']

7)Extract number of genres per movie

In [ ]:
df['Num_Genres'] = df['Genre'].apply(lambda x: len(x.split(',')))
print([df['Num_Genres']])

[0      3
1      3
2      2
3      3
4      3
      ..
995    3
996    1
997    3
998    2
999    3
Name: Num_Genres, Length: 1000, dtype: int64]

8)Handle missing values in 'Revenue (Millions)' and 'Metascore

In [ ]:
 df['Revenue (Millions)'] = df['Revenue (Millions)'].fillna(df['Revenue (Millions)'].mean())
 df['Metascore'] = df['Metascore'].fillna(df['Metascore'].mean())
 print(df['Revenue (Millions)'])
 print(df['Metascore'])

0      333.130000
1      126.460000
2      138.120000
3      270.320000
4      325.020000
          ...
995     82.956376
996     17.540000
997     58.010000
998     82.956376
999     19.640000
Name: Revenue (Millions), Length: 1000, dtype: float64
0      76.0
1      65.0
2      62.0
3      59.0
4      40.0
       ...
995    45.0
996    46.0
997    50.0
998    22.0
999    11.0
Name: Metascore, Length: 1000, dtype: float64

9)Top 5 movies by Rating

In [ ]:
top5_rating=da.nlargest(5,'Rating')
print(top5_rating[['Movie_Title','Rating']])

         Movie_Title  Rating
54   The Dark Knight     9.0
80         Inception     8.8
117           Dangal     8.8
36      Interstellar     8.6
96     Kimi no na wa     8.6

10)Movies with highest/lowest revenue

In [ ]:
 highest_revenue=df.loc[df['Revenue (Millions)'].idxmax()]
 lowest_revenue=df.loc[df['Revenue (Millions)'].idxmin()]
 print(highest_revenue)
 print(lowest_revenue)

Rank                                                                 51
Title                        Star Wars: Episode VII - The Force Awakens
Genre                                          Action,Adventure,Fantasy
Description           Three decades after the defeat of the Galactic...
Director                                                    J.J. Abrams
Actors                Daisy Ridley, John Boyega, Oscar Isaac, Domhna...
Year                                                               2015
Runtime (Minutes)                                                   136
Rating                                                              8.1
Votes                                                            661608
Revenue (Millions)                                               936.63
Metascore                                                          81.0
Num_Genres                                                            3
Name: 50, dtype: object
Rank                                                                232
Title                                                  A Kind of Murder
Genre                                              Crime,Drama,Thriller
Description           In 1960s New York, Walter Stackhouse is a succ...
Director                                                   Andy Goddard
Actors                Patrick Wilson, Jessica Biel, Haley Bennett, V...
Year                                                               2016
Runtime (Minutes)                                                    95
Rating                                                              5.2
Votes                                                              3305
Revenue (Millions)                                                  0.0
Metascore                                                          50.0
Num_Genres                                                            3
Name: 231, dtype: object

11)Avg. rating by Director

In [ ]:
 avg_rating_director = df.groupby('Director')['Rating'].mean()
 print(avg_rating_director)

Director
Aamir Khan             8.50
Abdellatif Kechiche    7.80
Adam Leon              6.50
Adam McKay             7.00
Adam Shankman          6.30
                       ...
Xavier Dolan           7.55
Yimou Zhang            6.10
Yorgos Lanthimos       7.20
Zack Snyder            7.04
Zackary Adler          5.10
Name: Rating, Length: 644, dtype: float64

12) Movies per year

In [ ]:
movies_per_year = df['Year'].value_counts().sort_index()
print(movies_per_year)

Year
2006     44
2007     53
2008     52
2009     51
2010     60
2011     63
2012     64
2013     91
2014     98
2015    127
2016    297
Name: count, dtype: int64

13)Movies with rating > 8 & revenue > 100M

In [ ]:
high_rating_revenue=df[(df['Rating']>8)&(df['Revenue (Millions)']>100)]
print(high_rating_revenue)

     Rank                                         Title  \
0       1                       Guardians of the Galaxy
6       7                                    La La Land
36     37                                  Interstellar
50     51    Star Wars: Episode VII - The Force Awakens
54     55                               The Dark Knight
67     68                            Mad Max: Fury Road
74     75                                      Zootopia
76     77                                  The Avengers
77     78                          Inglourious Basterds
80     81                                     Inception
82     83                       The Wolf of Wall Street
83     84                                     Gone Girl
92     93                                      The Help
99    100                                  The Departed
114   115  Harry Potter and the Deathly Hallows: Part 2
124   125                         The Dark Knight Rises
138   139                                Shutter Island
144   145                              Django Unchained
241   242                                    Inside Out
427   428                          The Bourne Ultimatum
499   500                                            Up
634   635                                        WALL·E
645   646                                   Gran Torino
688   689                                   Toy Story 3
772   773                      How to Train Your Dragon

                          Genre  \
0       Action,Adventure,Sci-Fi
6            Comedy,Drama,Music
36       Adventure,Drama,Sci-Fi
50     Action,Adventure,Fantasy
54           Action,Crime,Drama
67      Action,Adventure,Sci-Fi
74   Animation,Adventure,Comedy
76                Action,Sci-Fi
77          Adventure,Drama,War
80      Action,Adventure,Sci-Fi
82       Biography,Comedy,Crime
83          Crime,Drama,Mystery
92                        Drama
99         Crime,Drama,Thriller
114     Adventure,Drama,Fantasy
124             Action,Thriller
138            Mystery,Thriller
144               Drama,Western
241  Animation,Adventure,Comedy
427     Action,Mystery,Thriller
499  Animation,Adventure,Comedy
634  Animation,Adventure,Family
645                       Drama
688  Animation,Adventure,Comedy
772  Animation,Action,Adventure

                                           Description           Director  \
0    A group of intergalactic criminals are forced ...         James Gunn
6    A jazz pianist falls for an aspiring actress i...    Damien Chazelle
36   A team of explorers travel through a wormhole ...  Christopher Nolan
50   Three decades after the defeat of the Galactic...        J.J. Abrams
54   When the menace known as the Joker wreaks havo...  Christopher Nolan
67   A woman rebels against a tyrannical ruler in p...      George Miller
74   In a city of anthropomorphic animals, a rookie...       Byron Howard
76   Earth's mightiest heroes must come together an...        Joss Whedon
77   In Nazi-occupied France during World War II, a...  Quentin Tarantino
80   A thief, who steals corporate secrets through ...  Christopher Nolan
82   Based on the true story of Jordan Belfort, fro...    Martin Scorsese
83   With his wife's disappearance having become th...      David Fincher
92   An aspiring author during the civil rights mov...        Tate Taylor
99   An undercover cop and a mole in the police att...    Martin Scorsese
114  Harry, Ron and Hermione search for Voldemort's...        David Yates
124  Eight years after the Joker's reign of anarchy...  Christopher Nolan
138  In 1954, a U.S. marshal investigates the disap...    Martin Scorsese
144  With the help of a German bounty hunter , a fr...  Quentin Tarantino
241  After young Riley is uprooted from her Midwest...        Pete Docter
427  Jason Bourne dodges a ruthless CIA official an...    Paul Greengrass
499  Seventy-eight year old Carl Fredricksen travel...        Pete Docter
634  In the distant future, a small waste-collectin...     Andrew Stanton
645  Disgruntled Korean War veteran Walt Kowalski s...     Clint Eastwood
688  The toys are mistakenly delivered to a day-car...        Lee Unkrich
772  A hapless young Viking who aspires to hunt dra...       Dean DeBlois

                                                Actors  Year  \
0    Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014
6    Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....  2016
36   Matthew McConaughey, Anne Hathaway, Jessica Ch...  2014
50   Daisy Ridley, John Boyega, Oscar Isaac, Domhna...  2015
54   Christian Bale, Heath Ledger, Aaron Eckhart,Mi...  2008
67   Tom Hardy, Charlize Theron, Nicholas Hoult, Zo...  2015
74   Ginnifer Goodwin, Jason Bateman, Idris Elba, J...  2016
76   Robert Downey Jr., Chris Evans, Scarlett Johan...  2012
77   Brad Pitt, Diane Kruger, Eli Roth,Mélanie Laurent  2009
80   Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen...  2010
82   Leonardo DiCaprio, Jonah Hill, Margot Robbie,M...  2013
83   Ben Affleck, Rosamund Pike, Neil Patrick Harri...  2014
92   Emma Stone, Viola Davis, Octavia Spencer, Bryc...  2011
99   Leonardo DiCaprio, Matt Damon, Jack Nicholson,...  2006
114  Daniel Radcliffe, Emma Watson, Rupert Grint, M...  2011
124  Christian Bale, Tom Hardy, Anne Hathaway,Gary ...  2012
138  Leonardo DiCaprio, Emily Mortimer, Mark Ruffal...  2010
144  Jamie Foxx, Christoph Waltz, Leonardo DiCaprio...  2012
241  Amy Poehler, Bill Hader, Lewis Black, Mindy Ka...  2015
427  Matt Damon, Edgar Ramírez, Joan Allen, Julia S...  2007
499  Edward Asner, Jordan Nagai, John Ratzenberger,...  2009
634  Ben Burtt, Elissa Knight, Jeff Garlin, Fred Wi...  2008
645  Clint Eastwood, Bee Vang, Christopher Carley,A...  2008
688      Tom Hanks, Tim Allen, Joan Cusack, Ned Beatty  2010
772  Jay Baruchel, Gerard Butler,Christopher Mintz-...  2010

     Runtime (Minutes)  Rating    Votes  Revenue (Millions)  Metascore  \
0                  121     8.1   757074              333.13  76.000000
6                  128     8.3   258682              151.06  93.000000
36                 169     8.6  1047747              187.99  74.000000
50                 136     8.1   661608              936.63  81.000000
54                 152     9.0  1791916              533.32  82.000000
67                 120     8.1   632842              153.63  90.000000
74                 108     8.1   296853              341.26  78.000000
76                 143     8.1  1045588              623.28  69.000000
77                 153     8.3   959065              120.52  69.000000
80                 148     8.8  1583625              292.57  74.000000
82                 180     8.2   865134              116.87  75.000000
83                 149     8.1   636243              167.74  79.000000
92                 146     8.1   342429              169.71  62.000000
99                 151     8.5   937414              132.37  85.000000
114                130     8.1   590595              380.96  87.000000
124                164     8.5  1222645              448.13  78.000000
138                138     8.1   855604              127.97  63.000000
144                165     8.4  1039115              162.80  81.000000
241                 95     8.2   416689              356.45  94.000000
427                115     8.1   525700              227.14  85.000000
499                 96     8.3   722203              292.98  88.000000
634                 98     8.4   776897              223.81  58.985043
645                116     8.2   595779              148.09  58.985043
688                103     8.3   586669              414.98  92.000000
772                 98     8.1   523893              217.39  74.000000

     Num_Genres
0             3
6             3
36            3
50            3
54            3
67            3
74            3
76            2
77            3
80            3
82            3
83            3
92            1
99            3
114           3
124           2
138           2
144           2
241           3
427           3
499           3
634           3
645           1
688           3
772           3

14)Group by Director: avg Rating, Revenue

In [ ]:
 director_group = df.groupby('Director').agg({'Rating':'mean','Revenue (Millions)': 'mean'}).reset_index()
 print(director_group)

                Director  Rating  Revenue (Millions)
0             Aamir Khan    8.50            1.200000
1    Abdellatif Kechiche    7.80            2.200000
2              Adam Leon    6.50           82.956376
3             Adam McKay    7.00          109.535000
4          Adam Shankman    6.30           78.665000
..                   ...     ...                 ...
639         Xavier Dolan    7.55           43.223188
640          Yimou Zhang    6.10           45.130000
641     Yorgos Lanthimos    7.20            4.405000
642          Zack Snyder    7.04          195.148000
643        Zackary Adler    5.10            6.530000

[644 rows x 3 columns]

15)Group by Year: count, avg Rating

In [ ]:
year_group = da.groupby('Year').agg({'Movie_Title':'count','Rating':'mean'}).reset_index()
year_group = year_group.rename(columns={'Movie_Title':'count'})
print(year_group)

    Year  count    Rating
0   2006     44  7.125000
1   2007     53  7.133962
2   2008     52  6.784615
3   2009     51  6.960784
4   2010     60  6.826667
5   2011     63  6.838095
6   2012     64  6.925000
7   2013     91  6.812088
8   2014     98  6.837755
9   2015    127  6.602362
10  2016    297  6.436700

16)Create a new column Profitability:
a) Revenue divided by Duration
b) Find top 10 most profitable movies

In [ ]:
df['Profitability'] = df['Revenue (Millions)'] / df['Runtime (Minutes)']
top10_profitable = df.nlargest(10, 'Profitability')
print(top10_profitable[['Title', 'Profitability']])

                                          Title  Profitability
50   Star Wars: Episode VII - The Force Awakens       6.886985
85                               Jurassic World       5.259516
119                                Finding Dory       5.013299
87                                       Avatar       4.694506
76                                 The Avengers       4.358601
15                      The Secret Life of Pets       4.233448
688                                 Toy Story 3       4.028932
12                                    Rogue One       4.001278
174                                      Frozen       3.928824
797                             Despicable Me 2       3.755612

17) Create a column that categorizes movies by rating:
a) Rating < 6: Poor
b) 6 ≤ Rating < 7.5: Average
c) Rating ≥ 7.5: Excellent

In [ ]:
def categorize_rating(rating):
    if rating < 6:
        return 'Poor'
    elif rating < 7.5:
        return 'Average'
    else:
        return 'Excellent'

da['Rating_Category'] = da['Rating'].apply(categorize_rating)
print(da[['Movie_Title', 'Rating', 'Rating_Category']].head())

               Movie_Title  Rating Rating_Category
0  Guardians of the Galaxy     8.1       Excellent
1               Prometheus     7.0         Average
2                    Split     7.3         Average
3                     Sing     7.2         Average
4            Suicide Squad     6.2         Average

18)Create a custom function to score movies based on:
i)
Apply row['Rating'] * 10 + row['Revenue (Millions)'] as High score
Apply a function to dataset to assign the score

In [ ]:
 def score_movie(row):
    return row['Rating'] * 10 + row['Revenue (Millions)']

da['Score'] = da.apply(score_movie, axis=1)
print(da[['Movie_Title', 'Score']].head())

               Movie_Title   Score
0  Guardians of the Galaxy  414.13
1               Prometheus  196.46
2                    Split  211.12
3                     Sing  342.32
4            Suicide Squad  387.02